## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [50]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,New Norfolk,AU,-42.7826,147.0587,68.90,49,100,3.00,overcast clouds
1,1,Leningradskiy,RU,69.3833,178.4167,-19.73,95,37,6.87,scattered clouds
2,2,Tasiilaq,GL,65.6145,-37.6368,26.76,67,100,39.44,overcast clouds
3,3,Acapulco,MX,16.8634,-99.8901,73.22,88,0,2.30,clear sky
4,4,Kavieng,PG,-2.5744,150.7967,83.66,71,92,8.21,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 10
What is the maximum temperature you would like for your trip? 70

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
#city_data_df.loc[(city_data_df['Max Temp'] =< 75 )]
vaccation_city_data_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
vaccation_city_data_df.tail(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
646,646,Idar,DE,49.7167,7.3000,36.37,90,22,9.33,few clouds
647,647,Dunmore East,IE,52.1514,-6.9861,44.69,78,100,22.64,overcast clouds
651,651,Sacramento,US,38.4666,-121.3177,52.81,80,0,0.00,clear sky
652,652,Aqtobe,KZ,50.2797,57.2072,23.09,80,0,11.18,clear sky
653,653,Makow Mazowiecki,PL,52.8649,21.1005,41.02,82,100,21.99,overcast clouds
654,654,Newport,GB,51.5877,-2.9984,45.61,85,100,15.68,overcast clouds
655,655,Baruun-Urt,MN,46.6806,113.2792,10.36,79,4,7.83,clear sky
658,658,Daneasa,RO,44.1500,24.5667,34.65,52,0,8.28,clear sky
659,659,Yarmouth,US,41.7057,-70.2286,32.14,96,100,13.80,snow
660,660,Saravan,AM,39.7196,45.6483,27.25,95,100,5.93,light snow

In [38]:
# 4a. Determine if there are any empty rows.
vaccation_city_data_df.count()

City_ID                324
City                   324
Country                322
Lat                    324
Lng                    324
Max Temp               324
Humidity               324
Cloudiness             324
Wind Speed             324
Current Description    324
dtype: int64

In [40]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
df = vaccation_city_data_df.dropna
df = vaccation_city_data_df.dropna(how='any')
df.count()

City_ID                322
City                   322
Country                322
Lat                    322
Lng                    322
Max Temp               322
Humidity               322
Cloudiness             322
Wind Speed             322
Current Description    322
dtype: int64

In [14]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_df = df
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = "hotel_name"
hotel_df.tail()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
654,Newport,GB,45.61,overcast clouds,51.5877,-2.9984,hotel_name
655,Baruun-Urt,MN,10.36,clear sky,46.6806,113.2792,hotel_name
658,Daneasa,RO,34.65,clear sky,44.1500,24.5667,hotel_name
659,Yarmouth,US,32.14,snow,41.7057,-70.2286,hotel_name
660,Saravan,AM,27.25,light snow,39.7196,45.6483,hotel_name

In [41]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

preferred_hotel_df = hotel_df[["City", "Country", "Max Temp","Current Description", "Lat", "Lng"]].copy()
#preferred_hotel_df["Hotel Name"] = ""
# 6b. Iterate through the hotel DataFrame.

for index, row in preferred_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
     
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
   

    # 6e. Make request and retrieve the JSON data from the search. 
    try:
        preferred_hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [44]:
preferred_hotel_df.count()

City                   322
Country                322
Max Temp               322
Current Description    322
Lat                    322
Lng                    322
Hotel Name             295
dtype: int64

In [45]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = preferred_hotel_df.dropna
clean_hotel_df = preferred_hotel_df.dropna(how='any')

In [46]:
clean_hotel_df.count()

City                   295
Country                295
Max Temp               295
Current Description    295
Lat                    295
Lng                    295
Hotel Name             295
dtype: int64

In [51]:
hotel_df = clean_hotel_df
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,New Norfolk,AU,68.90,overcast clouds,-42.7826,147.0587,The Shingles Riverside Cottages
2,Tasiilaq,GL,26.76,overcast clouds,65.6145,-37.6368,The Red House
7,Codrington,AU,67.82,overcast clouds,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
10,Panguipulli,CL,49.71,clear sky,-39.6333,-72.3333,Cabañas Mis Viejos
11,Havoysund,NO,23.88,light snow,70.9963,24.6622,Arctic View Glamping & Restaurant
13,Ancud,CL,51.22,clear sky,-41.8697,-73.8203,Hotel Arena Gruesa
14,Bethel,US,26.04,broken clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
17,Punta Arenas,CL,41.11,clear sky,-53.1500,-70.9167,Hotel Hain
19,Cabo San Lucas,MX,62.94,few clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
20,Jamestown,US,13.71,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown

In [52]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City")

In [53]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}
and {Max Temp} °F</dd>
</dl>
"""


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [54]:
# 11a. Add a marker layer for each city to the map. 
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))